.head {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 10%;
    box-shadow: 0px 1px rgba(0, 0, 0, 0.06),
        0px 2px rgba(0, 0, 0, 0.05),
        0px 3px rgba(0, 0, 0, 0.04),
        0px 4px rgba(0, 0, 0, 0.03),
        0px 5px rgba(0, 0, 0, 0.02),
        0px 6px rgba(0, 0, 0, 0.01),
        0px 7px rgba(0, 0, 0, 0.005);
    /* in order for border to show */
    position: relative;
    z-index: 99;
    background-color: white;
}

.head-section-1 {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    margin-left: 64px;
    font-size: 18px;
}

.head-section-2 {
    display: flex;
    width: 50%;
    justify-content: flex-end;
    align-items: center;
}

.user-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 50%;
    padding: 8px;
    height: 32px;
    width: 32px;
    margin-right: 24px;
    color: #29ABE2;
}

.user-icon:hover {
    background-color: rgba(0, 0, 0, 0.08);
    cursor: pointer;
}

.icon-styling {
    font-size: 18px;
    font-weight: bold;
}

.user-help {
    margin-right: 12px;
}

.user-help img {
    height: 32px;
}

.user-help img:hover {
    height: 35px;
    cursor: pointer;
}

.header-options-popup {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-end;
    text-align: center;
    height: 0px;
    width: 100%;
    color: rgb(231, 11, 11);
    margin-left: -10px;
}

.invis {
    visibility: hidden;
}

.options-popup {
    position: relative;
    font-size: 14px;
    width: 120px;
    color: white;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    background-color: #081931;
    padding: 6px;
}

.options-popup p {
    padding: 6px;
    margin: 8px 0;
}

.options-popup p:hover {
    cursor: pointer;
    background-color: #29ABE2;
    border-radius: 8px;
}

.kanban-title {
    display: flex;
    align-items: center;
}

.mobile-logo {
    height: 50px;
    opacity: 0;
}