body {
    background-color: rgba(0, 0, 0, 0.05);
}

.login-content {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 36px 16px 8px 16px;
    width: 90%;
    height: 10%;
    flex-direction: row;
    align-items: flex-start;
}

.header-right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header-right p {
    font-size: 16px;
}

.sign-up-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 112px;
    height: 54px;
    font-size: 18px;
    margin-left: 40px;
    font-weight: bold;
    border-radius: 8px;
    background-color: #081931;
    color: white;
    font-family: 'Inter';
}

.header img {
    height: 100px;
}

.form {

    border-radius: 24px;
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 40%;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05);
}

.form-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding: 0 24px 0 24px;
}

.form-head a:hover {
    cursor: pointer;
    font-size: 32px;
}

.form-head img:hover {
    border-radius: 50%;
    height: 40px;
    margin-right: -8px;
    background-color: rgba(0, 0, 0, 0.07);
}

.decoline {
    width: 156px;
    height: 2px;
    background-color: #29ABE2;
}

.form h1 {
    font-size: 54px;
    margin: 0;
    padding-bottom: 8px;
    color: #000000;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-style {
    margin-top: 32px;
    border-radius: 16px;
    width: 380px;
    padding: 4px;
    padding-left: 16px;
    height: 36px;
    border: 2px solid rgba(0, 0, 0, 0.07);
    cursor: pointer;
}

.input-style::placeholder {
    color: rgba(0, 0, 0, 0.4);
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 300;
}

.checkbox {
    display: flex;
    width: 80%;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 24px;
}

.checkbox p {
    margin-top: 14px;
    margin-left: 12px;
}

.checkbox a {
    text-decoration: none;
    font-size: 18px;
    color: #29ABE2;
}

.btns {
    display: flex;
    margin-top: 24px;
    justify-content: center;
    width: 316px;
}

.sign-up {
    width: 112px;
    height: 48px;
    border-radius: 6px;
    border: none;
    font-weight: bold;
    background-color: #081931;
    color: white;
    font-size: 18px;
    font-family: 'Inter';
}

.sign-up:hover {
    cursor: pointer;
    background-color: #29ABE2;
    box-shadow: 0 8px 10px -5px #333;
}

.email-styling {
    background: url("../assets/images/mail.svg") no-repeat center;
    background-size: 24px;
    background-position-x: 348px;
}

.pw-styling {
    background-size: 24px;
    background-position-x: 348px;
}

.person-styling {
    background: url("../assets/images/person.svg") no-repeat center;
    background-size: 24px;
    background-position-x: 348px;
}

.footer {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer a {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: lightgray;
    margin: 24px 24px 0px 24px;
}

.footer a:hover {
    font-size: 18px;
    color: #29ABE2;
    margin: 24px 17px 0px 18px;
}

/*Animation*/
.d-none {
    display: none;
}

.popup-blend {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 1;
}

.popup-text {
    width: 260px;
    padding: 16px 0 16px 0;
    color: white;
    background-color: #081931;
    text-align: center;
    border-radius: 12px;
    padding-top: 16px;
    position: absolute;
    z-index: 1;
    bottom: 50%;
    left: 50%;
    margin-left: -130px;
    user-select: none;
    opacity: 1;
}

.animate-popup-text {

    animation: regisuccess 1s linear;
}

.animate-popup-blend {
    animation: animate-popup-blend 1s linear;
}


@keyframes regisuccess {
    from {
        opacity: 0;
        bottom: 10%
    }

    to {
        opacity: 1;
        bottom: 50%;
    }
}

@keyframes animate-popup-blend {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fish-eye-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.fish-eye-btn {
    height: 20px;
    margin-top: 32px;
    position: relative;
    margin-left: -56px;
    border: none;
    background-color: white;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fish-eye-btn:hover {
    cursor: pointer;
}

/*Responsive Design*/
@media(max-width:1080px) {
    .email-styling {
        background-position-x: 273px;
    }

    .person-styling {
        background-position-x: 273px;
    }

    .input-style {
        width: 300px;
    }

    .checkbox {
        justify-content: center;
        width: 100%;
    }

    .checkbox a {
        font-size: 16px;
    }

    .checkbox p {
        font-size: 16px;
    }

    .form h1 {
        font-size: 48px;
    }

    .form {
        width: 45%;
        height: 70%;
        margin-top: 32px;
    }
}

@media(max-width:850px) {
    .form {
        width: 60%;
        height: 65%;
    }
}

@media(max-width:650px) {
    .form {
        width: 80%;
    }

    .form h1 {
        font-size: 40px;
    }

    .header img {
        height: 80px;
    }

}

@media(max-width:450px) {
    .form {
        width: 94%;
    }
}

@media(max-width:360px){
    .input-style{
        width: 270px;
        margin-top: 12px;
    }
    .person-styling{
        background-position-x: 240px;
    }
    .email-styling{
        background-position-x: 240px;
    }
    .pw-styling{
        margin-left: 11px;
    }
    .fish-eye-btn{
        margin-top: 10px;
    }
}

@media(max-height:670px) {
    .header img {
        height: 64px;
    }

    .input-style {
        margin-top: 6px;
    }

    .fish-eye-btn {
        margin-top: 6px;
    }
}

/*Surface Duo*/
@media(min-width:540px) and (max-height: 720px) {
    .input-style{
        margin-top: 12px;
    }
    .fish-eye-btn{
        margin-top: 10px;
    }
}

/*Nest Hub*/
@media(min-width:1024px) and (max-height: 600px) {
    .input-style{
        margin-top: 12px;
    }
    .checkbox{
        margin-top: 0;
    }
    .btns{
        margin-top: 0px;
    }
    .form h1{
        font-size: 40px;
    }
    .decoline{
        width: 110px;
    }
    .sign-up{
        height: 40px;
    }
}

/*Galaxy Fold*/
@media(max-width:319px) {
    .input-style{
        width: 210px;
    }
    .person-styling{
        background-position-x: 180px;
    }
    .email-styling{
        background-position-x: 180px;
    }
    .fish-eye-div{
        justify-content: center;
        margin-left: -32px;
    }
    .btn{
        margin-top: 0;
    }
    .checkbox{
        margin-top: 0;
    }
    .sign-up{
        height: 40px;
    }
    .form h1{
        font-size: 36px;
    }
    .decoline{
        width: 96px;
    }
}