<div class="add-formular">
    <div class="add-form-content">
        <div class="add-heading">
            <img class="add-heading-img" src="assets/images/Join_white.svg">
            <div class="back-button-mobile">
                <button onclick="closeContactForm('add')"><img src="assets/images/close_mobile.svg"></button>
            </div>
            <h1>Add contact</h1>
            <p>Tasks are better with a team!</p>
            <div class="add-heading-decoline"></div>
        </div>
        <div class="create-contact">
            <div class="profile-pic">
                <img src="assets/images/empty-profile-pic.svg">
            </div>
            <div class="formular">
                <div class="back-button">
                    <span class="info-popup">Contact successfully created</span>
                    <button onclick="closeContactForm('add')"><img src="assets/images/close.svg"></button>
                </div>
                <form onsubmit="createContact(); return false" class="form-box">
                    <input id="fullName" required class="person-icon custom-input" type="text" placeholder="Name">
                    <input id="mail" required class="mail-icon custom-input" type="email" placeholder="Email">
                    <input id="phone" required class="phone-icon custom-input" type="tel" pattern="[0-9]+" placeholder="Phone">
                    <div class="add-cancel-buttons">
                        <button class="cancel-button">Cancel <svg width="13" height="14" viewBox="0 0 13 14" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M6.24959 6.99984L11.4926 12.2428M1.00659 12.2428L6.24959 6.99984L1.00659 12.2428ZM11.4926 1.75684L6.24859 6.99984L11.4926 1.75684ZM6.24859 6.99984L1.00659 1.75684L6.24859 6.99984Z"
                                    stroke="#2A3647" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            </svg></button>
                        <button class="create-button">Create contact <img src="assets/images/check.svg"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>