<div class="sidebar-img">
    <img src="assets/images/Join_white.svg">
</div>
<div id="sidebarSections" class="sidebar-sections">
    <a href="summary.html" id="summary" class="sidebar-section">
        <div class="sidebar-section-contents-end">
            <img src="assets/images/summary.svg">
        </div>
        <div class="sidebar-section-contents-start">
            <div class="sidebar-text">Summary</div>
        </div>
    </a>
    <a href="addTask.html" id="tasks" class="sidebar-section">
        <div class="sidebar-section-contents-end">
            <img src="assets/images/add_task.svg">
        </div>
        <div class="sidebar-section-contents-start">
            <div class="sidebar-text">Add Task</div>
        </div>
    </a>
    <a href="board.html" id="board" class="sidebar-section">
        <div class="sidebar-section-contents-end">
            <img src="assets/images/board.svg">
        </div>
        <div class="sidebar-section-contents-start">
            <div class="sidebar-text">Board</div>
        </div>
    </a>
    <a href="contacts.html" id="contactsSection" class="sidebar-section">
        <div class="sidebar-section-contents-end">
            <img src="assets/images/contacts.svg">
        </div>
        <div class="sidebar-section-contents-start">
            <div class="sidebar-text">Contacts</div>
        </div>
    </a>
</div>
<div id="policyRightsSection" class="policy-rights-section">
    <a id="policy" href="privacyPolicy.html">Privacy Policy</a>
    <a id="lNotice" href="legalNotice.html">Legal Notice</a>
</div>