<div class="summaryHead">
    <h1>Join 360</h1>
    <h2>Key Metrics at a Glance</h2>
    <div class="decoline display-none"></div>
</div>
<a href="board.html">
    <div class="summaryMain">
        <div class="summaryTasks">
            <div class="summaryWidth">
                <div class="summaryInfo">
                    <div class="borderRadius firstList">
                        <div class="dFlex">
                            <img class="alternate-image" src="./assets/images/pencil.svg" alt="">
                            <img class="hover-image" src="./assets/images/pencil_white.svg" alt="">
                            <div id="numberOfTodos" class="flexDirection">
                            </div>
                        </div>
                    </div>
                </div>
</a>
<a href="board.html">
    <div class="summaryInfo">
        <div class="borderRadius firstList">
            <div class="dFlex">
                <img class="alternate-image" src="./assets/images/done.svg" alt="">
                <img class="hover-image" src="./assets/images/done_white.svg" alt="">
                <div id="numberOfDone" class="flexDirection">
                </div>
            </div>
        </div>
    </div>
    </div>
</a>
<a href="board.html">
    <div class="urgent">
        <div class="borderRadius thirdList">
            <div class="dFlex gap">
                <img src="./assets/images/urgent.svg" alt="">
                <div id="urgentCounter" class="flexDirection">
                </div>
                <hr>
                <div id="deadlineDate" class="date">
                </div>
            </div>
        </div>
    </div>
</a>
<a href="board.html">
    <div class="summaryWidth">
        <div class="taskInfo">
            <div class="summaryInfo maxWidth">
                <div class="borderRadius">
                    <div class="dFlex">
                        <div id="tInBoard" class="flexDirection itemsCenter">
                        </div>
                    </div>
                </div>
            </div>
        </div>
</a>
<a href="board.html">
    <div class="taskInfo">
        <div class="summaryInfo maxWidth">
            <div class="borderRadius">
                <div class="dFlex">
                    <div id="numberOfProgress" class="flexDirection itemsCenter">
                    </div>
                </div>
            </div>
        </div>
    </div>
</a>
<a href="board.html">
    <div class="taskInfo">
        <div class="summaryInfo maxWidth">
            <div class="borderRadius">
                <div class="dFlex">
                    <div id="numberOfFeedback" class="flexDirection itemsCenter">
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</a>
<div id="greet" class="greet">
</div>
</section>
